<div class="title">
    <h1>
        Ver mascota
    </h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>
            nombre
        </mat-card-title>
        <mat-card-content>
            <p><strong>Raza: </strong>Labrador</p>
            <p><strong>Color: </strong>Labrador</p>
            <p><strong>peso: </strong>Labrador</p>
            <p><strong>Edad: </strong>Labrador</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listMascotas" mat-raised-button>volver</button>
        </mat-card-actions>
    </mat-card>
</div>